.Finalists {
  width: 50vw;
  margin: 0 auto;
  padding-top: 20px;

  h3 {
    color: #a72608;
    font-size: 2em;
    padding-bottom: 15px;
  }
}

@media only screen and (max-width: 600px) {
  .Finalists {
    width: 100vw;
    text-align: center;
  }
}
